<h2>My Artists</h2>
<ul class="artists">
  <li *ngFor="let artist of artists" 
  [class.selected]="artist === selectedArtist"
  (click)="onSelect(artist)">
    <span class="badge">{{artist.id}}</span> {{artist.name}}
  </li>


  <div *ngIf=selectedArtist>
    <h2>{{selectedArtist.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedArtist.id}}</div>
    <div>
      <label for="artist-name">Artist name: </label>
      <input id="artist-name" [(ngModel)]="selectedArtist.name" placeholder="name">
    </div>
  </div>



</ul>